# Build
.build/
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Dependencies
Package.resolved

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# SwiftPM
.swiftpm/
